<div class="navigation--container">
    <div>
        <a routerLink="">
            <h3>
                Poutchi Anime
            </h3>
        </a>
    </div>

    <ul>
        <li *ngFor="let menuItem of menu">
            <a [routerLink]="menuItem.url" [queryParams]="menuItem.queryParams">{{menuItem.title}}</a>
            <ul *ngIf="menuItem.children && menuItem.children.length > 0">
                <ng-container *ngFor="let subMenuItem of menuItem.children">
                    <li>
                        <a [routerLink]="((menuItem.url)?menuItem.url:'')+subMenuItem.url"
                            [queryParams]="subMenuItem.queryParams">{{subMenuItem.title}}</a>
                    </li>
                </ng-container>
            </ul>
        </li>
    </ul>

    <ul class="connexion--container">
        <a routerLink="/register">
            <button class="button">
                <li>Register</li>
            </button>
        </a>
        <a routerLink="/login">
            <button class="button">
                <li>log in </li>
            </button>
        </a>
    </ul>
</div>