<!-- <div class="navigation--container">
    <div>
        <a routerLink="">
            <img src="../assets/images/PoutchiAnime.png" alt="PoutchiAnime" width="150">
        </a>
    </div>

    <ul class="features--container">
        <li *ngIf="isLogged">

            <a routerLink="/new">Add new anime</a>
        </li>
    </ul> -->


<!-- <ul class="connexion--container" *ngIf="!isLogged">
        <a routerLink="/register">
            <button class="button">
                <li>Register</li>
            </button>
        </a>
        <a routerLink="/login">
            <button class="button">
                <li>log in </li>
            </button>
        </a>
    </ul> -->

<!-- <button class="button" *ngIf="isLogged" (click)="signOut()">
        Sign out
    </button> -->

<!-- </div> -->