<h1>Add new anime to the collection</h1>
<div class="newanime--container">
    <div class="form--container">
        <form [formGroup]="modifyForm" *ngIf="modifyForm" (ngSubmit)="onSubmit()">
            <h2>アニメを追加</h2>
            <div>
                <label for="title_eng">Title in eng : </label>
                <input type="text" formControlName="en_jp">
            </div>

            <div>
                <label for="title_jap">Title in jap : </label>
                <input type="text" formControlName="ja_jp">
            </div>
            <div>
                <label for="synopsis">Description : </label>
                <textarea name="synopsis" id="synopsis" cols="30" rows="2" formControlName="synopsis"></textarea>
            </div>
            <div>
                <label for="created_date">Starting date : </label>
                <input type="date" formControlName="created_date">
            </div>
            <div>
                <label for="status">Status: </label>
                <select formControlName="status" id="status">
                    <option value=""></option>
                    <option value="inProgress">In progress</option>
                    <option value="ended">Ended</option>
                </select>
            </div>
            <div>
                <label for="episode_count">Number of episodes</label>
                <input type="number" formControlName="episode_count">
            </div>
            <div>
                <label for="image_file">Cover image : </label>
                <input type="file" formControlName="imageFile" name="imageFile" (change)="upload($event)">

            </div>

            <input type="submit" value="Send">

        </form>
    </div>

    <div>
        <!-- <img src={{}} alt="luffy" width="500px"> -->
    </div>
</div>