<!-- <div class="search--container">


    <div class="sortedlist">
        <label for="anime">Sorted by:</label>

        <select name="anime" id="anime" (change)="setParamSorting($event)">
            <option value="">Nothing</option>
            <option value="rating">Rating</option>
            <option value="startingDate">Starting date</option>
            <option value="endingDate">Ending Date</option>
            <option value="userCount">User count</option>
        </select>
    </div>


    <div>
        <form>
            <input type="text" name="" id="">
            <input type="submit" value="Search">
        </form>
    </div>
</div> -->
<!-- This is for testing One and only one anime -->
<!-- <div>
    <h2>{{anime.en_jp}}</h2>
    <img src="{{path}}{{anime.image_file}}" alt="pa">
</div> -->

<div>

    <div class="text-center">
        <img src="../assets/images/PoutchiAnime.png" alt="PoutchiAnime" width="530">
    </div>

    <div class="card--container">
        <div class="card" *ngFor="let ani of animes; let i = index">
            <div class="card--header" (click)="displayDetails(i)">
                <img src={{ani.attributes.posterImage.original}} [alt]="ani.attributes.titles.en" width="150"
                    class="poster">

                <h2>{{ani.attributes.titles.en}}</h2>
                <h4 *ngIf="ani.attributes.titles.ja_jp">{{ani.attributes.titles.ja_jp}}</h4>
            </div>

            <!-- <img src="../../assets/luffy.png" alt="luffy" class="luffy"> -->


        </div>
    </div>

</div>