<div *ngIf="animeDesc" class="description--body">
    <h1>{{animeDesc.attributes.titles.en_jp}} </h1>
    <button routerLink="/">Retour</button>

    <div class="description--container">
        <div>
            <img src="{{imagePath}}" width="300" alt="">
        </div>
        <div class="infos">
            <div class="title">
                <h2 *ngIf="animeDesc.attibutes.titles.ja_jp">{{animeDesc.attibutes.titles.ja_jp}}</h2>
                <h4 *ngIf="animeDesc.attibutes.titles.en_jp">({{animeDesc.attributes.titles.en_jp}})</h4>
            </div>

            <div class="space--evenly">
                <div class="status">
                    <p>Starting date : {{animeDesc.attributes.creation_date}}</p>
                    <p *ngIf="animeDesc.attibutes.status">Ending date : {{animeDesc.attibutes.status}}</p>
                </div>
                <div class="description">
                    <h4>
                        Description:
                    </h4>
                    <p class="description">{{animeDesc.attibutes.synopsis}}</p>
                </div>
                <div class="rating">
                </div>
            </div>
        </div>
    </div>

</div>